#notice-title {
  background-color: plum;
  border-radius: 10px 10px 0% 0%;
  padding-left: 10px;
  padding-right: 10px;
}

#notice-content {
  background-color: palevioletred;
  font-size: normal;
  border-radius: 0% 0% 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}