#info {
  position: absolute;
  top: 80vh;
  width: 100%;
  text-align: center;
  z-index: 2;
  display: block;
  background-color: black;
  color: greenyellow;
}

#explanation {
  position: absolute;
  top: 20vh;
  width: 100%;
  z-index: 1;
  display: block;
  color: blue;
}