body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  z-index: 100;
}

#base-header {
  height: 10vh;
}

#base-content {
  height: 80vh;
}

#base-footer {
  height: 10vh;
}

.modal-header {
  background-color: rgb(170, 100, 170);
  color: white;
}

.modal-body {
  background-color: black;
  color: white;
  overflow-y: auto;
}

.modal-footer {
  background-color: rgb(170, 100, 170);
  color: white;
}

#notice-title {
  background-color: plum;
  border-radius: 10px 10px 0% 0%;
  padding-left: 10px;
  padding-right: 10px;
}

#notice-content {
  background-color: palevioletred;
  font-size: normal;
  border-radius: 0% 0% 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}