body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#base-header {
  height: 10vh;
}

#base-content {
  height: 80vh;
}

#base-footer {
  height: 10vh;
}

.modal-header {
  background-color: black;
  color: white;
}

.modal-body {
  background-color: black;
  color: white;
  overflow-y: auto;
}

.modal-footer {
  background-color: black;
  color: white;
}