<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <link rel="icon" type="image/png" href="{{url_for('static',filename='img/meta/game_icon.png')}}">
  <link rel="apple-touch-icon" sizes="128x128" href="{{url_for('static',filename='img/meta/game_icon.png')}}">

  <title>WEB GAME</title>
  <!-- icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- CSS libs -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/libs/bootstrap.min.css')}}" />
  <!-- CSS origins -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/origins/style.css')}}" />
  {% block css %} {% endblock %}

  <!-- JS libs -->
  <script src="{{url_for('static',filename='js/libs/jquery-3.6.0.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/libs/socket.io.js')}}"></script>
  <script src="{{url_for('static',filename='js/libs/three/build/three.js')}}"></script>
  <script src="{{url_for('static',filename='js/libs/bootstrap.min.js')}}"></script>
</head>

<body class="container-fluid">
  <div id="base-header">{% include "base_header.html" %}</div>
  <div id="base-content">{% block content %}{% endblock %}</div>
  <div id="base-footer">{% include "base_footer.html" %}</div>
  <!-- JS origins -->
  {% block script %} {% endblock %}
</body>

</html>