{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/origins/index.css')}}" />
{% endblock%}

{% block content %}
<div id="view" style="height:100%; width:100%;"></div>
{% endblock %}

{% block script %}
<!-- origin -->
<script src="{{url_for('static',filename='js/utils/modal.js')}}"></script>
<script src="{{url_for('static',filename='js/origins/notice_load.js')}}"></script>
<script src="{{url_for('static',filename='js/origins/script_load.js')}}"></script>

<!-- 物理エンジンAmmo.js -->
<!-- <script
  src="https://rawcdn.githack.com/kripken/ammo.js/aab297a4164779c3a9d8dc8d9da26958de3cb778/builds/ammo.js"></script> -->
<script src="{{url_for('static',filename='js/libs/three/jsm/libs/ammo.wasm.js')}}"></script>
<!-- <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script> -->


<!-- Physijis -->
<!-- <script src="{{url_for('static',filename='js/libs/three/physijs/physi.js')}}"></script>
<script src="{{url_for('static',filename='js/libs/three/physijs/physijs_worker.js')}}"></script> -->
<!-- <script src="{{url_for('static',filename='js/libs/three/physijs/ammo.js')}}"></script> -->

<script type="module" src="{{url_for('static',filename='js/origins/scene_load.js')}}"></script>


<script>
  console.warn("this is index.html");
</script>
{% endblock %}