{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/origins/index.css')}}" />
{% endblock%}

{% block content %}
<div id="view" style="height:100%; width:100%;"></div>
{% endblock %}

{% block script %}

<!-- 物理エンジンAmmo.js -->
<script src="{{url_for('static',filename='js/libs/three/jsm/libs/ammo.wasm.js')}}"></script>

<!-- Physijis -->
<!-- <script src="{{url_for('static',filename='js/libs/three/physijs/physi.js')}}"></script>
<script src="{{url_for('static',filename='js/libs/three/physijs/physijs_worker.js')}}"></script> -->
<!-- <script src="{{url_for('static',filename='js/libs/three/physijs/ammo.js')}}"></script> -->

<script type="module" src="{{url_for('static',filename='js/origins/web3d.js')}}"></script>
<script type="module" src="{{url_for('static',filename='js/origins/web3d_game.js')}}"></script>


{% if current_user.is_authenticated %}
<script>
  console.warn("this is index.html");
  const username = "{{current_user.username}}";
  const user_id = "{{current_user.id}}";
</script>
{% endif %}

{% if current_user.auth == 1 %}
<script>
  console.warn("debug mode");
  let mode = "debug";
</script>
{% endif %}

{% endblock %}